Repository Hol1kgmg/nextjs-fastAPI-templete: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-check, frontend-typecheck, backend-check

lefthook.yml:

pre-push:
  parallel: true
  commands:
    frontend-check:
      root: "frontend/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        if command -v bun >/dev/null 2>&1; then
          bun run check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}
        else
          echo "⚠️  Bun not found. Skipping frontend check. Please run from frontend/ directory or install mise."
          exit 0
        fi
    
    frontend-typecheck:
      root: "frontend/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        if command -v bun >/dev/null 2>&1; then
          bun run typecheck
        else
          echo "⚠️  Bun not found. Skipping frontend typecheck. Please run from frontend/ directory or install mise."
          exit 0
        fi
    
    backend-check:
      root: "backend/"
      glob: "*.py"
      run: |
        if command -v task >/dev/null 2>&1; then
          task check:all
        else
          echo "⚠️  Task not found. Skipping backend check. Please run from backend/ directory or install mise."
          exit 0
        fi

# EXAMPLE USAGE (commented out):
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

fix:不要なgithub actionを削除
  .github/workflows/ci.yaml
Due: none

faet:dockerのDBコンテナのみ起動するtaskコマンドを追加
  backend/Taskfile.yml
Due: none

feat:backendのmise環境をリポジトリ直下に移動
  .mise.toml
  Taskfile.yml
  backend/.python-version
Due: none

feat:フロントエンドのmise環境、及びdockerなどの開発環境を整備
  .github/workflows/frontend-docker.yml
  .gitignore
  README.md
  TROUBLESHOOTING.md
  frontend/.gitignore
  frontend/README.md
  frontend/Taskfile.yml
  frontend/docker/.dockerignore
  frontend/docker/Dockerfile
  frontend/docker/docker-compose.yml
Due: none

fic:github actionないの不要な処理を削除
  .github/workflows/frontend-docker.yml
Due: none

fix:github actionにあったコマンドに修正
  .github/workflows/frontend-docker.yml
Due: none

fix:ワークスペースを設定
  .github/workflows/frontend-docker.yml
Due: none

fix:playgroundを考慮した修正
  .github/workflows/frontend-docker.yml
Due: none

feat: プロジェクト直下統合環境構築完了 (issue#9)
  .mise.toml
  README.md
  Taskfile.yml
  backend/.mise.toml
  backend/README.md
  backend/Taskfile.yml
  frontend/README.md
Due: none

feat:dbをブラウザ上で確認できるadminerコンテナを追加
  .gitignore
  CI_CD.md
  README.md
  Taskfile.yml
  backend/.env.sample
  backend/Taskfile.yml
  backend/docker/docker-compose.yml
  frontend/.env.sample
  frontend/.gitignore
  frontend/docker/.env.docker
Due: none

fix:軽微な修正もれ
  Taskfile.yml
Due: none

fix:Taskfileのdescを修正
  Taskfile.yml
  backend/Taskfile.yml
  frontend/Taskfile.yml
Due: none

feat:pre pushをpre commitに移行
  .mise.toml
  CLAUDE.md
  CODING_STANDARDS.md
  README.md
  TROUBLESHOOTING.md
  Taskfile.yml
  frontend/lefthook.yml
  lefthook.yml
Due: none

feat: API統合基盤の完成とHealth機能の包括的実装
  README.md
  frontend/.env.sample
  frontend/API_INTEGRATION_GUIDE.md
  frontend/bun.lockb
  frontend/package.json
  frontend/src/actions/baseActions.ts
  frontend/src/actions/index.ts
  frontend/src/app/api/health/route.ts
  frontend/src/app/health/page.tsx
  frontend/src/app/serverHealth/page.tsx
  frontend/src/atoms/baseAtoms.ts
  frontend/src/atoms/index.ts
  frontend/src/features/example/atoms/exampleAtoms.ts
  frontend/src/features/example/atoms/index.ts
  frontend/src/features/example/server/exampleServer.ts
  frontend/src/features/example/server/index.ts
  frontend/src/features/example/types/exampleTypes.ts
  frontend/src/features/example/types/index.ts
  frontend/src/features/health/api/healthClient.ts
  frontend/src/features/health/api/index.ts
  frontend/src/features/health/atoms/healthAtoms.ts
  frontend/src/features/health/atoms/index.ts
  frontend/src/features/health/components/HealthStatus.tsx
  frontend/src/features/health/components/ServerHealthStatus.tsx
  frontend/src/features/health/components/index.ts
  frontend/src/features/health/hooks/index.ts
  frontend/src/features/health/hooks/useHealthHook.ts
  frontend/src/features/health/index.ts
  frontend/src/features/health/server/healthServer.ts
  frontend/src/features/health/server/index.ts
  frontend/src/features/health/types/healthTypes.ts
  frontend/src/features/health/types/index.ts
  frontend/src/lib/apiConfig.ts
  frontend/src/lib/server/apiConfig.ts
  frontend/src/test-server-health-page.ts
  frontend/src/types/baseTypes.ts
  frontend/src/types/index.ts
Due: frontend-check, frontend-typecheck

feat: Task統一コマンド方針の徹底とshadcn/ui統合
  Taskfile.yml
  frontend/README.md
  frontend/Taskfile.yml
Due: none

feat: 統合fixコマンドの実装
  Taskfile.yml
Due: none

fix:github workflowの更新。環境変数の反映。
  .github/workflows/frontend-ci.yml
  .github/workflows/frontend-docker.yml
  frontend/docker/Dockerfile
  frontend/docker/docker-compose.yml
Due: none

fix:mise環境設定、及びdocker環境設定の説明文の修正
  README.md
Due: none

fix:task docker:downでadminコンテナが停止しない不具合を修正
  backend/Taskfile.yml
Due: none

feat:.nextを作り直すtaskコマンドを追加
  Taskfile.yml
  frontend/Taskfile.yml
Due: none

feat:serena MCPを導入
  .serena/memories/architecture_patterns.md
  .serena/memories/coding_conventions.md
  .serena/memories/development_guidelines.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/testing_and_quality_procedures.md
  .serena/project.yml
Due: none

fix:Primise<Result.Result>をResult.ResultAsyncに修正
  frontend/src/actions/baseActions.ts
  frontend/src/features/example/server/exampleServer.ts
  frontend/src/features/health/api/healthClient.ts
  frontend/src/features/health/server/healthServer.ts
  frontend/src/lib/server/apiConfig.ts
Due: frontend-check, frontend-typecheck

feat:topページからhealthとserver healthへの遷移ボタンを実装
  frontend/src/app/page.tsx
Due: frontend-check, frontend-typecheck

feat:issue#13のためのAPI実装
  backend/pyproject.toml
  backend/src/api/__init__.py
  backend/src/api/common/__init__.py
  backend/src/api/common/exceptions.py
  backend/src/api/common/pagination.py
  backend/src/api/common/responses.py
  backend/src/api/examples/__init__.py
  backend/src/api/examples/routes.py
  backend/src/api/examples/schemas.py
  backend/src/api/examples/services.py
  backend/src/api/health/__init__.py
  backend/src/api/health/routes.py
  backend/src/api/health/schemas.py
  backend/src/api/health/services.py
  backend/src/core/__init__.py
  backend/src/core/config.py
  backend/src/core/logging.py
  backend/src/core/middleware.py
  backend/src/db/base.py
  backend/src/db/database.py
  backend/src/db/migrations/env.py
  backend/src/db/migrations/versions/0001_create_examples_table.py
  backend/src/db/models/__init__.py
  backend/src/db/models/example.py
  backend/src/db/models/sample.py
  backend/src/main.py
  backend/uv.lock
Due: backend-check

feat: issue#13のテスト環境とCI/CD基盤を構築
  .github/workflows/backend-test.yml
  backend/docs/api_guide.md
  backend/pyproject.toml
  backend/tests/api/test_examples.py
  backend/tests/api/test_health.py
  backend/tests/conftest.py
  backend/uv.lock
Due: backend-check

fix:uv run mypy .の対象を修正
  backend/pyproject.toml
Due: none

feat:テスト実装、及びコード品質の改善
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  backend/src/api/examples/services.py
  backend/src/core/performance.py
  backend/src/db/models/example.py
  backend/tests/api/test_error_handling.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_integration.py
  backend/tests/performance/conftest.py
  backend/tests/performance/performance_analyzer.py
  backend/tests/performance/test_api_performance.py
  backend/tests/performance/test_performance.py
Due: backend-check

fix:taskの品質チェック修正
  backend/pyproject.toml
  backend/src/core/config.py
Due: backend-check

feat: Health機能のClean Architecture実装完了（関数型アプローチ）
  .mcp.json
  frontend/.serena/project.yml
  frontend/bun.lockb
  frontend/package.json
  frontend/src/features/health/domain/entities/Health.ts
  frontend/src/features/health/domain/entities/__tests__/Health.test.ts
  frontend/src/features/health/domain/repositories/HealthRepository.ts
  frontend/src/features/health/domain/repositories/__tests__/HealthRepository.test.ts
  frontend/src/features/health/domain/services/HealthDomainService.ts
  frontend/src/features/health/domain/services/__tests__/HealthDomainService.test.ts
  frontend/src/features/health/domain/types/HealthBrandTypes.ts
  frontend/src/features/health/domain/types/__tests__/HealthBrandTypes.test.ts
  frontend/src/features/health/gateways/api/HealthApiGateway.ts
  frontend/src/features/health/gateways/api/__tests__/HealthApiGateway.test.ts
  frontend/src/features/health/gateways/dto/HealthDto.ts
  frontend/src/features/health/gateways/dto/__tests__/HealthDto.test.ts
  frontend/src/features/health/gateways/mappers/HealthMapper.ts
  frontend/src/features/health/gateways/mappers/__tests__/HealthMapper.test.ts
  frontend/src/features/health/usecases/GetHealthUseCase.ts
  frontend/src/features/health/usecases/MonitorHealthUseCase.ts
  frontend/src/features/health/usecases/__tests__/GetHealthUseCase.test.ts
  frontend/src/features/health/usecases/__tests__/MonitorHealthUseCase.test.ts
Due: frontend-check, frontend-typecheck

fix:taskコマンドの後方互換を改修。pre commitで除外設定を追加
  Taskfile.yml
  backend/Taskfile.yml
  backend/src/db/migrations/versions/0001_create_examples_table.py
  frontend/.serena/project.yml
  lefthook.yml
Due: backend-check

fix:自動migrate生成スクリプトの改修
  backend/src/db/migrations/versions/0001_create_examples_table.py
  backend/src/script/auto_migrate/auto_migrate.py
Due: backend-check

fix:taskのexcludeコマンドの改修とCICDテストの改修
  .github/workflows/backend-test.yml
  backend/Taskfile.yml
  lefthook.yml
Due: none

refactor: health APIをシンプルなstatus+timestampのみのレスポンスに簡素化
  backend/pyproject.toml
  backend/src/api/health/schemas.py
  backend/src/api/health/services.py
  backend/tests/api/test_health.py
  backend/tests/integration/test_integration.py
  backend/uv.lock
Due: backend-check

fix:performanceのテストを改修
  backend/tests/performance/performance_analyzer.py
  backend/tests/performance/test_performance.py
Due: backend-check

fix:testsディレクトリのテストファイルを修正
  backend/tests/api/test_error_handling.py
  backend/tests/api/test_examples.py
  backend/tests/api/test_health.py
  backend/tests/integration/test_integration.py
  backend/tests/performance/performance_analyzer.py
  backend/tests/performance/test_performance.py
Due: backend-check

fix:task backendコマンドのfixやcheckの除外パスを共通化
  backend/Taskfile.yml
  lefthook.yml
Due: none

fix:ページファイルのfunctionをconstのアロー関数に修正
  frontend/src/app/health/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/serverHealth/page.tsx
Due: frontend-check, frontend-typecheck

fix:pre pushのfrontend buildがレスポンス遅めなのでコメントアウト
  lefthook.yml
Due: none

fix: uvicorn設定をIPv6対応に修正してECONNREFUSEDエラーを解決
  Taskfile.yml
  backend/Taskfile.yml
  frontend/src/actions/baseActions.ts
  frontend/src/atoms/baseAtoms.ts
  frontend/src/features/health/components/HealthStatus.tsx
  frontend/src/features/health/components/ServerHealthStatus.tsx
  frontend/src/features/health/hooks/useHealthHook.ts
  frontend/src/features/health/server/healthServer.ts
  frontend/src/hooks/use-mobile.ts
  frontend/src/lib/apiConfig.ts
  frontend/src/lib/utils.ts
Due: frontend-check, frontend-typecheck

fix:lightningcssのbuildエラーの解消とdevのlayoutエラーの改修
  Taskfile.yml
  frontend/Taskfile.yml
  frontend/src/app/layout.tsx
Due: frontend-check, frontend-typecheck
